In [4]:
import pandas as pd
import os
import seaborn as sns;
import matplotlib.pyplot as plt
import math

In [6]:
path = "D:\\D_10P\\result_Thresh_0.3D_10related_ratio_1.0E-5\\result" #文件夹目录
files= os.listdir(path) #得到文件夹下的所有文件名称

for file in files: #遍历文件夹
     if not os.path.isdir(file): #判断是否是文件夹，不是文件夹才打开
            f = open(path+"/"+file); #打开文件
            df = pd.read_csv(path+"/"+file,header = None)
            df = data.rename({0:"arity",1:"relation number",2:"related ratio"},axis='columns')
            df['new_related ratio'] = df.apply(lambda x: math.pow(x['arity'],1)* x['related ratio'], axis=1)  
            plt.cla()
            g = sns.regplot(x="arity", y="new_related ratio", data=df,order = 2)
            plt.show()

NameError: name 'data' is not defined

In [3]:
df

     0    1         2
0    3   11  0.758849
1    4   40  0.578795
2    5  109  0.458000
3    6  221  0.367627
4    7  345  0.298848
5    8  428  0.247597
6    9  428  0.211007
7   10  345  0.186658
8   11  221  0.172006
9   12  109  0.164579
10  13   39  0.162133
11  14    9  0.162389
12  15    1  0.162791

In [77]:
math.pow(100,1/1.5)

21.544346900318832

   a  B
0  1  4
1  2  5
2  3  6